<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title>
     Favoritos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">  

 

  <ion-slides *ngIf="_dataLocal.noticias.length === 0" [options]="sliderOpts">
    <ion-slide>
      <ion-label>No hay Favoritos</ion-label>
    </ion-slide>
  </ion-slides>

  <app-noticias *ngIf="_dataLocal.noticias.length > 0" [noticias]="_dataLocal.noticias" [enFavoritos]="true"></app-noticias>

</ion-content>
